.Footer {
  height: 250px;

  &-social {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }

    .social-margin:nth-child(n + 2) {
      margin-left: 1.6rem;

      @include media("<1440px", ">=992px") {
        margin-left: 1rem;
      }
    }
  }

  &-nav {
    &-link:nth-child(n + 2) {
      margin-left: 2rem;

      @include media("<1440px") {
        margin-left: 1rem;
      }
    }
  }

  @include media("<992px") {
    height: auto;

    &-logo {
      margin-top: 1.5rem;
      justify-content: center !important;
    }

    &-nav {
      margin: 0.5rem 0 1rem;
      flex-wrap: wrap;
      justify-content: center !important;

      &-link {
        margin: 0 0.5rem !important;
      }
    }

    &-social {
      margin-bottom: 1.5rem;
      justify-content: center !important;
    }
  }
}
