.site-footer {
  height: 250px;
  position: relative;
  background-size: cover;
  background-image: url("../../../images/landing-page/footer/footer-bg.png");

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color-bg(footer);
    z-index: -3;
  }
}

.footer-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($footer-block--padding_h / 2);
  margin-left: -($footer-block--padding_h / 2);
  margin-top: -($footer-block--padding_v / 2);

  &:last-of-type {
    margin-bottom: -($footer-block--padding_v / 2) + $footer-blocks--padding;
  }

  &:not(:last-of-type) {
    margin-bottom: ($footer-block--padding_v / 2);
  }
}

.footer-block {
  flex-grow: 1;
  flex-basis: $footer-block--min-width;
  box-sizing: content-box;
  padding: $footer-block--padding_v / 2 $footer-block--padding_h / 2;

  * {
    box-sizing: border-box;
  }

  ul li {
    &:not(:last-child) {
      margin-bottom: $footer-block-list-padding;
    }
  }

  a {
    @include anchor-aspect(footer-block);
    @include font-weight(footer-block-link);
    text-transform: $link-footer-block--transform;

    .invert-color & {
      @include anchor-aspect(footer-block, inverse);
    }
  }
}

.footer-social {
  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .social-margin:nth-child(n + 2) {
    margin-left: 0.6rem;
  }
}

.footer-nav {
  margin-left: 12% !important;
  &-link:nth-child(n + 2) {
    margin-left: 2rem;
  }

  @include media("<=768px") {
    margin-left: 5% !important;
  }

  @include media("<=576px") {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
