$sticky_header_bg: #23243f;
$actived_nav_color: #f1b01a;

.site-header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 20 !important;
  background-color: color-bg(header);

  .container {
    max-width: 1200px !important;
  }

  .playNowContainer {
    .playNowContent {
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;
      color: white !important;

      $border_color: rgba(137, 48, 20, 0.58);
      & > div {
        text-shadow: -2px 0 $border_color, 0 2px $border_color,
          2px 0 $border_color, 0 -2px $border_color;
      }
    }
  }

  + .site-content {
    .section:first-of-type {
      padding-top: $header-height__mobile;
    }
  }

  a.nav-actived,
  a:hover,
  .actived-vesting {
    color: $actived_nav_color !important;
  }

  &.another-bg {
    background-color: $sticky_header_bg;
    animation-name: effect;
    animation-duration: 600ms;
    animation-delay: -200ms;
    animation-timing-function: ease-in-out;
  }

  // &.another-color {
  //   a {
  //     color: get-color(light, 4) !important;
  //     &:hover {
  //       color: $sticky_header_bg !important;
  //     }
  //   }
  // }

  @keyframes effect {
    0% {
      background-color: transparent;
      opacity: 0;
    }
    100% {
      background-color: $sticky_header_bg;
      opacity: 1;
    }
  }
}

.site-header.another-bg {
  a:hover,
  a.nav-actived {
    color: $actived_nav_color !important;
  }
}

.off-nav-is-active {
  .site-header {
    background-color: $sticky_header_bg;
  }
}

.site-header-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height__mobile;
}

.header-logo {
  flex: 0 0 150px;

  .header-img {
    object-fit: contain;
  }
}

.header-nav {
  .header-nav-inner {
    display: flex;
    flex-grow: 1;
  }

  ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    margin-bottom: 0;

    &:first-of-type {
      flex-wrap: wrap;
    }
  }

  li {
    + .header-button {
      margin-left: $header-nav--padding-h;
    }
  }

  a:not(.button) {
    display: block;
    @include anchor-aspect(header);
    text-transform: $link-header--transform;
    padding: 0 $header-nav--padding-h;

    .invert-color & {
      @include anchor-aspect(header, inverse);
    }
  }

  a.button {
    margin-left: $header-nav--padding-h;
  }
}

.header-nav-center:first-of-type {
  flex-grow: 1;
  justify-content: flex-end;
}

.header-nav-right {
  justify-content: flex-end;

  + .header-nav-right {
    flex-grow: 0;
  }
}

.header-nav-toggle {
  display: none;
}

@include media("<=992px") {
  .header-nav-toggle {
    display: block;
  }

  .header-nav {
    margin: 0 !important;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 9999;
    background: color-bg(menu-mobile);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out, opacity 0.15s;

    &.is-active {
      opacity: 1;
    }

    .header-nav-inner {
      flex-direction: column;
      padding: $header-nav--padding-v__mobile;
    }

    ul {
      display: block;
      text-align: center;

      a:not(.button) {
        display: inline-flex;
        @include anchor-aspect(header-mobile);
        padding-top: $header-nav--padding-v__mobile / 2;
        padding-bottom: $header-nav--padding-v__mobile / 2;
      }
    }

    a.button {
      margin-left: 0;
      margin-top: $header-nav--padding-v__mobile / 2;
      margin-bottom: $header-nav--padding-v__mobile / 2;
    }
  }
}

@include media(">medium") {
  .site-header {
    + .site-content {
      .section:first-of-type {
        padding-top: $header-height__desktop;
      }
    }
  }

  .site-header-inner {
    height: $header-height__desktop;
  }
}
