.CommonInfo {
  width: 100vw;
  height: 56.25vw;

  &-banner {
    img {
      object-position: center bottom;
    }
  }

  &-logo {
    height: 8vw;
    position: absolute;
    top: 21vw;
    left: 0;
    right: 0;
  }

  &-chatbox {
    position: absolute;
    bottom: 20%;
    left: 55%;
    width: 140px;
    padding-top: 100px;

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #767397;
      font-size: 11px;
    }
  }

  @include media("<768px") {
    height: 600px;

    &-logo {
      top: 240px;
      height: 85px;
    }

    &-chatbox {
      left: 60%;
    }
  }
}
