.CommonInfo {
  height: 100vh;

  &-videoBg {
    z-index: 2;
    object-fit: cover;
    object-position: center bottom;
  }

  &-downloadBtnsGroup {
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    z-index: 4;
    padding-top: 200px;

    &-btnWrapper {
      background-color: lighten(#000, 15%);
      border-radius: 8px;
      position: relative;

      .logoImg {
        width: 1.6rem;
        height: 1.6rem;
      }

      .line-2 {
        line-height: 25px;
      }

      .comingSoon {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        background-color: rgba(6, 7, 17, 0.5);
        border-radius: 8px;
      }

      &:hover {
        .btn-content,
        .logoImg {
          opacity: 0.3;
        }

        .comingSoon {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  @include media("<=768px") {
    height: auto;

    &-videoBg {
      min-height: 600px;
    }

    &-downloadBtnsGroup {
      .line-1 {
        font-size: 11px;
      }

      .line-2 {
        font-size: 16px;
      }
    }
  }

  @include media("<=576px") {
    &-videoBg {
      min-height: 440px;
    }

    &-downloadBtnsGroup {
      &-btnWrapper {
        margin: 0 0.4rem !important;
        padding: 0.25rem 0.6rem 0.25rem 0.5rem !important;
        border-radius: 4px;

        .line-1 {
          font-size: 9px;
        }

        .line-2 {
          font-size: 14px;
        }

        .logoImg {
          width: 1.4rem;
          height: 1.4rem;
        }

        .btn-content {
          margin-left: 0.25rem !important;
        }
      }
    }
  }

  $blackzone-height: 22%;
  &-blackzone {
    position: absolute;
    z-index: 3;
    height: $blackzone-height;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url("../../../images/landing-page/blackzone.png");
  }

  &-header {
    width: 100%;
    position: absolute;
    top: calc(80px + 5%);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &-wrapper {
      height: 23%;

      .img-logo {
        object-fit: contain;
      }
    }

    @include media("<=768px") {
      &-wrapper {
        height: 20%;
      }
    }
  }

  &-snow {
    $SNOWDROPS_LENGTH: 100;

    // Wrapper for snows, this shows background
    .g-snows {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: $blackzone-height;
    }

    .g-snows > li {
      // NOTE: Opacity zero is required due to appearance of snow.
      opacity: 0;
      position: absolute;
      top: 0;
      border-radius: 100%;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-size: 100% auto;
      animation-name: snow-drop;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;

      // Bases of random snows effect
      $snow-size-base: 18;
      $browser-buffer: 50;
      $left-position: 100 + $browser-buffer;
      $animate-speed-base: 10000;
      $minimum-falling-speed: 5000;
      $animate-delay-base: 5000;
      $blur-base: 5;

      @for $i from 1 through $SNOWDROPS_LENGTH {
        $size: abs(random($snow-size-base) - random($snow-size-base)) + 0px;

        &:nth-child(#{$i}) {
          left: abs(random($left-position) - random($left-position)) + 0%;
          width: $size;
          height: $size;
          animation-duration: abs(
              random($animate-speed-base) - random($animate-speed-base)
            ) +
            $minimum-falling-speed +
            0ms;
          animation-delay: abs(random($animate-delay-base)) + 0ms;
          filter: blur(abs(random($blur-base) - random($blur-base)) + 0px);
        }
      }
    }

    ul {
      list-style-type: none;
    }

    @keyframes snow-drop {
      $window-height-threshold: 1.5;

      0% {
        transform: translate(0, 0);
        opacity: 0.5;
        margin-left: 0;
      }

      10% {
        margin-left: 15px;
      }

      20% {
        margin-left: 20px;
      }

      25% {
        transform: translate(0, 250px / $window-height-threshold);
        opacity: 0.75;
      }

      30% {
        margin-left: 15px;
      }

      40% {
        margin-left: 0;
      }

      50% {
        transform: translate(0, 500px / $window-height-threshold);
        opacity: 1;
        margin-left: -15px;
      }

      60% {
        margin-left: -20px;
      }

      70% {
        margin-left: -15px;
      }

      75% {
        transform: translate(0, 750px / $window-height-threshold);
        opacity: 0.5;
      }

      80% {
        margin-left: 0;
      }

      100% {
        transform: translate(0, 1000px / $window-height-threshold);
        opacity: 0;
      }
    }
  }
}
