.CommonInfo {
  height: 100vh;
  // min-height: 500px;

  &-banner {
    height: 100%;
    width: 100vw;

    img {
      object-position: center bottom;
    }
  }

  &-logo {
    width: 100%;
    height: 15vh;
    position: absolute;
    top: calc(#{$header-height__mobile} + 20%);
    left: 0;
    right: 0;
    bottom: 0;
  }
}
