.CommonInfo {
  height: 100vh;

  &-videoBg {
    object-fit: cover;
  }

  @include media("<=768px") {
    height: auto;

    &-videoBg {
      min-height: 600px;
    }
  }

  @include media("<=576px") {
    &-videoBg {
      min-height: 440px;
    }
  }

  &-blackzone {
    position: absolute;
    height: 22%;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url("../../../images/landing-page/blackzone.png");
  }

  &-header {
    width: 100%;
    position: absolute;
    top: calc(80px + 5%);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &-wrapper {
      height: 30%;

      .img-logo {
        object-fit: contain;
      }
    }

    @include media("<=768px") {
      &-wrapper {
        height: 20%;
      }
    }
  }
}
