.Features {
  &-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &-metaverse {
    .metaverse-bg--lower {
      position: absolute;
      bottom: 3rem;
      right: 0;
      left: 45%;
      top: 0;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom;
      background-image: url("../../../images/landing-page/metaverse/metaverse.png");
    }

    @include media("<=800px") {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-content {
        justify-content: flex-end !important;
      }

      .metaverse-bg--lower {
        position: relative;
        height: 200px;
        left: 0;
        bottom: 0;
        background-position: right center;
      }
    }
  }

  &-item {
    width: 200px;

    &-img {
      width: 140px;
      height: 140px;
      object-fit: contain;
    }
  }
}
