.Features {
  $carousel_height: 480px;

  &-carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $carousel_height;
  }

  &-park {
    padding-top: calc(#{$carousel_height} - 150px);
  }

  &-contentUpper,
  &-contentLower {
    position: absolute;
    left: 8%;
    right: 0;
  }

  &-contentUpper {
    bottom: 0;

    .custom-text {
      $border_color: #171c29;
      text-shadow: -2px 0 $border_color, 0 2px $border_color,
        2px 0 $border_color, 0 -2px $border_color;
    }
  }

  &-contentLower {
    top: 0;
    max-width: 35%;
  }

  &-item {
    width: 200px;

    &-name {
      height: 60px;
    }

    &-img {
      height: 230px;
    }
  }

  @include media("<=992px") {
    &-contentLower {
      max-width: 84%;
    }
  }

  @include media("<=576px") {
    &-park {
      padding-top: calc(#{$carousel_height} - 80px);
    }

    .custom-font-size {
      font-size: 11px;
    }
  }
}
