.GameplayDemo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: linear-gradient(to bottom, #01232c, #175a6c);

  &-header {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 9%;

    @include media("<=1700px") {
      top: 7%;
    }

    @include media("<=430px") {
      top: 15%;
      font-size: 0.65rem !important;
    }

    @include media("<=350px") {
      top: 19%;
    }
  }

  .img-bg {
    object-fit: contain;
    position: relative;

    @include media("<=768px") {
      max-width: 180%;
    }
  }
}
