.GameplayDemo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../../../images/landing-page/gameplay-bg.png");

  .container {
    max-width: 1450px;
  }

  &-header {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 13%;

    @include media("<=1700px") {
      top: 7%;
    }

    @include media("<=430px") {
      top: 15%;
      font-size: 0.65rem !important;
    }

    @include media("<=350px") {
      top: 19%;
    }
  }

  .img-bg {
    object-fit: contain;
    position: relative;

    @include media("<=768px") {
      max-width: 180%;
    }
  }
}
