.PenguinPreview {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: linear-gradient(to bottom, #175a6c, #3baac4);

  &-title {
    position: absolute;
    top: -4%;
    color: #9f6651;
  }

  $content-left: 178px;
  $content-right: 178px;
  &-content {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: $content-left;
    right: $content-right;

    .tape-bg {
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @include media("<=1300px") {
      left: calc(#{$content-left} - 50px);
      right: calc(#{$content-right} - 50px);
    }
  }

  @include media("<=1100px") {
    &-bg {
      height: 720px;
    }

    &-content {
      left: calc(#{$content-left} - 80px);
      right: calc(#{$content-right} - 80px);
    }
  }

  &-penguin {
    position: relative;
    margin: 19px 0;
    flex: 1 1 21%;
    height: calc(50% - 38px);

    &-wrapper {
      z-index: 10;
      position: relative;
      height: 0 !important;
      padding-bottom: calc(100% * 5 / 6);
    }

    &:hover {
      .penguin-attack {
        display: block !important;
      }

      .penguin-gif {
        display: none !important;
      }
    }

    .bg-slot {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 8px;
      left: 8px;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    .bg-slot-1 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-1.png");
    }
    .bg-slot-2 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-2.png");
    }
    .bg-slot-3 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-3.png");
    }
    .bg-slot-4 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-4.png");
    }
    .bg-slot-5 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-5.png");
    }
    .bg-slot-6 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-6.png");
    }
    .bg-slot-7 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-7.png");
    }
    .bg-slot-8 {
      background-image: url("../../../images/landing-page/penguin-preview/slot-8.png");
    }
  }

  @include media("<=992px") {
    &-bg,
    .tape-bg {
      display: none !important;
    }

    &-verticalBg {
      display: block !important;
    }

    &-penguin {
      flex: 1 1 34%;
      height: calc(25% - 38px);
    }
  }

  @include media("<=576px") {
    padding: 1rem 0;

    &-title {
      top: 4.2rem;
    }

    &-verticalBg {
      height: 100%;
      position: absolute;
      object-fit: cover;
    }

    &-content {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5rem 0 7rem;
    }

    &-penguin {
      flex: 1 1 51%;
      height: calc(12.5% - 38px);
      max-width: 350px;
    }
  }
}
