.Pitchdeck {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../../../images/landing-page/distribution.png");

  &-chart {
    max-width: 400px;
    height: 400px;
  }

  &-table {
    th,
    tr,
    td {
      color: color(base) !important;
      border-color: lighten(#002631, 8%);
      padding: 0.5rem;
      font-size: 0.7rem !important;
    }

    table,
    tbody,
    th {
      border-top: 0 !important;
    }

    th {
      background-color: #2a92ae;
      max-width: 130px;
    }

    tr {
      background-color: #296474;
    }

    @include media("<=640px") {
      tr {
        border: 0 !important;

        &:nth-child(odd) {
          background: lighten(#002631, 8%) !important;
        }

        &:first-child {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }

        &:last-child {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
}
