.RoadMap {
  min-height: calc(min(100vh - 80px - 250px, 1120px));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  background-image: url("../../../images/landing-page/roadmap/bg.png");

  .img-size {
    width: 200px;
    height: 200px;
  }

  @include media("<=992px") {
    background-image: none;
    background-color: #00465a;
  }

  @include media("<=576px") {
    padding-top: 1rem !important;
  }
}
