.RoadMap {
  min-height: calc(min(100vh - #{$header-height__desktop} - 250px, 1120px));
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center bottom;
  // background-image: url("../../../images/partern-pixel.png");

  .img-size {
    height: 230px;
    object-position: center bottom;

    &.tree-1 {
      width: 70px;
    }

    &.tree-2 {
      width: 100px;
    }

    &.tree-3,
    &.tree-4 {
      width: 130px;
    }

    &.tree-5,
    &.tree-6 {
      width: 100%;
    }
  }

  &-content {
    &-title {
      color: #8eb146;
    }
  }

  @include media("<=992px") {
    .img-size {
      &.tree-1,
      &.tree-2,
      &.tree-3 {
        height: 160px;
      }
    }
  }

  @include media("<=768px") {
    &-wrapper {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }

    .img-size {
      &.tree-1,
      &.tree-2 {
        height: 140px;
      }

      &.tree-4 {
        height: 160px;
      }
    }
  }
}
