.TokensAndAssets {
  &-item {
    width: 180px;
    height: 200px;
    border-radius: 20px;
    background-color: #2a92ae;
    box-shadow: 0 0.125rem 0.25rem #2a92ae;

    &-img {
      width: 90px;
      height: 90px;
      object-fit: contain;
    }

    &-content {
      max-width: 160px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .img-size {
    width: 200px;
    height: 200px;
  }

  .owl-dot {
    span {
      background-color: lighten(#002631, 2%) !important;
    }
  }

  .owl-dot.active {
    span {
      background-color: white !important;
    }
  }
}
