.TokensAndAssets {
  &-item {
    &-img {
      height: 240px;
      width: calc((240px * 258) / 362) !important;
    }

    &-title {
      position: absolute;
      top: 8%;
      right: 12%;
    }

    &-content {
      position: absolute;
      bottom: 8%;
      left: 12%;
    }

    .color-1 {
      color: #38365f;
    }
    .color-2 {
      color: #733e17;
    }
    .color-3 {
      color: #4e2839;
    }
    .color-4 {
      color: #764040;
    }
    .color-5 {
      color: #315149;
    }
  }

  &-pixel {
    position: absolute;
    bottom: -25%;
    left: 0;
    height: 1500px;
    z-index: -1;

    img {
      opacity: 0.3;
      object-position: left bottom;
    }
  }

  .img-size {
    width: 200px;
    height: 200px;
  }

  .owl-dot {
    span {
      background-color: #0b0c32 !important;
    }
  }

  .owl-dot.active {
    span {
      background-color: white !important;
    }
  }

  @include media("<=1300px") {
    &-pixel {
      height: 1100px;
    }
  }

  @include media("<=576px") {
    .custom-size {
      font-size: 9px;
    }
  }
}
